version: "3.7"
services:
  xray_tun2socks:
    build:
      context: ./tun2socks
      args:
        ARCH: ${ARCH:-amd64} # Architecture: arm64, amd64
    image: xray_tun2socks
    pull_policy: never
    container_name: xray_tun2socks
    hostname: xray_tun2socks
    restart: always
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    dns:
      - 8.8.8.8
    dns_search:
      - noc.solutions
    environment:
      TZ: America/New_York
      IFACE: ${IFACE:-enp3s0} # Interface
      LAN: ${LAN:-192.168.0.0/24} # Local Area Network
      ADDR: ${ADDR:-192.168.0.254} # Server Address
    volumes:
      - ./tun2socks/main.sh:/main.sh
    logging:
      driver: "json-file"
      options:
        max-size: "128m"
        max-file: "3"
  xray_server:
    image: teddysun/xray:latest
    container_name: xray_server
    hostname: xray_server
    restart: always
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    dns:
      - 8.8.8.8
    dns_search:
      - noc.solutions
    environment:
      - TZ=America/New_York
    volumes:
      - /lib/modules:/lib/modules:ro
      - ./config_client.json:/etc/xray/config.json
      - ./geoip:/usr/share/xray
    logging:
      driver: "json-file"
      options:
        max-size: "128m"
        max-file: "3"
